@import 'variables.scss';
.my-card {
    background-color: $noir-transparent;
    max-width: fit-content;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    width: 340px;
    max-width: 340px;
    height: 170px;
    max-height: 170px;
}

.my-card:hover,
.name:hover {
    cursor: pointer;
}

.my-card:not(.selected):hover {
    background-color: $card-hover;
}

#resultats>.my-card:hover,
#resultats>.my-card>.name:hover {
    cursor: default;
}

#resultats>.my-card:hover {
    background-color: $noir-transparent;
}

#resultats>a {
    text-decoration: none;
    color: $blanc;
}

.selected {
    background-color: $vert-transparent;
}

.pic,
.pic img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 0.25rem;
}

.pic {
    display: flex;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    padding: 0px 0px 0px 5px;
    user-select: none;
}

@media (max-width: 750px) {
    .pic {
        display: none;
    }
    .my-card {
        width: 250px;
        max-width: 250px;
        height: max-content;
        padding: 5px;
    }
}