.my-card {
  background-color: rgba(1, 1, 1, 0.3);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 340px;
  max-width: 340px;
  height: 170px;
  max-height: 170px;
}

.my-card:hover,
.name:hover {
  cursor: pointer;
}

.my-card:not(.selected):hover {
  background-color: rgba(15, 107, 96, 0.5);
}

#resultats > .my-card:hover,
#resultats > .my-card > .name:hover {
  cursor: default;
}

#resultats > .my-card:hover {
  background-color: rgba(1, 1, 1, 0.3);
}

#resultats > a {
  text-decoration: none;
  color: #ffffff;
}

.selected {
  background-color: rgba(15, 107, 96, 0.9);
}

.pic,
.pic img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 0.25rem;
}

.pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  width: 100%;
  padding: 0px 0px 0px 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 750px) {
  .pic {
    display: none;
  }
  .my-card {
    width: 250px;
    max-width: 250px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 5px;
  }
}
/*# sourceMappingURL=my-card.css.map */