#titreResultats {
  padding: 10px 0px 10px 0px;
}

#resultats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 10px 0px 10px;
  margin: 10px 0px 0px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(1, 1, 1, 0.4);
  width: 95%;
  margin: 0 auto;
  border-radius: 0.25rem;
}

#liste-films {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 0px 0px;
  background-color: rgba(1, 1, 1, 0.4);
  width: 95%;
  margin: 0 auto;
  border-radius: 0.25rem;
}

#liste1,
#liste2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  max-width: 50%;
}

#recherche {
  margin: 20px 0px 20px 0px;
}

#titreRecherche {
  font-weight: bold;
  font-size: 20px;
}

p#aucunResultat {
  font-weight: bold;
}

@media (max-width: 750px) {
  #liste-films {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #liste1,
  #liste2 {
    width: 100%;
    max-width: 100%;
  }
  #liste1 {
    margin: 0px 0px 20px 0px;
  }
  #resultats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=resultats.css.map */