.v-application {
  background-color: #6b0f1a !important;
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%) !important;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Jost', sans-serif !important;
}

html,
body {
  min-height: 100vh;
}

.v-text-field,
.v-input input {
  max-width: 250px !important;
}

#inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boutons {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boutons button {
  margin: 20px 0px 20px 0px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  font-weight: bold;
}

#btnTop {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 5px 0px 5px;
}

#instruction {
  font-weight: bold;
}

#footer a {
  color: #ea6877;
  font-weight: bold;
}

@media (max-width: 750px) {
  .v-text-field,
  .v-input input {
    margin: 0 auto;
  }
  #inputs,
  .boutons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boutons {
    margin: 0px;
  }
  #btnBottom,
  #actions {
    height: 100px;
  }
}
/*# sourceMappingURL=style.css.map */