@import 'variables.scss';
.v-application {
    background-color: $background-start !important;
    background-image: linear-gradient(315deg, $background-start 0%, $background-end 74%) !important;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Jost', sans-serif !important;
}

html,
body {
    min-height: 100vh;
}

.v-text-field,
.v-input input {
    max-width: 250px !important;
}

#inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boutons {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boutons button {
    margin: 20px 0px 20px 0px;
    max-width: fit-content;
    margin: 0 auto;
    font-weight: bold;
}

#btnTop {
    flex-direction: column;
    margin: 0px 5px 0px 5px;
}

#instruction {
    font-weight: bold;
}

#footer a {
    color: #ea6877;
    font-weight: bold;
}

@media (max-width: 750px) {
    .v-text-field,
    .v-input input {
        margin: 0 auto;
    }
    #inputs,
    .boutons {
        flex-direction: column;
    }
    .boutons {
        margin: 0px;
    }
    #btnBottom,
    #actions {
        height: 100px;
    }
}