<template>
  <a :href="this.url" target="_blank">
    <div class="my-card">
      <div class="pic">
        <img :src="this.image" :alt="this.name" />
      </div>

      <div class="name">
        {{ this.name }}
      </div>
    </div>
  </a>
</template>

<script>
export default {
  props: {
    image: {
      default: '',
      type: String
    },
    name: {
      default: '',
      type: String
    },
    url: {
      default: '',
      type: String
    }
  }
};
</script>
