#titreResultats {
    padding: 10px 0px 10px 0px;
}

#resultats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 10px 0px 10px;
    margin: 10px 0px 0px 0px;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    border-radius: 0.25rem;
}

#liste-films {
    display: flex;
    padding: 10px 0px 0px 0px;
    width: 95%;
    margin: 0 auto;
    border-radius: 0.25rem;
}

#liste1,
#liste2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    max-width: 50%;
}

#recherche {
    margin: 20px 0px 20px 0px;
}

#titreRecherche {
    font-weight: bold;
    font-size: 20px;
}

p#aucunResultat {
    font-weight: bold;
}

@media (max-width: 750px) {
    #liste-films {
        flex-direction: column;
    }
    #liste1,
    #liste2 {
        width: 100%;
        max-width: 100%;
    }
    #liste1 {
        margin: 0px 0px 20px 0px;
    }
    #resultats {
        flex-direction: column;
        align-items: center;
    }
}