.v-application {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Jost', sans-serif !important;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

h1,
#instruction,
p {
  text-shadow: 1px 2px #0e0f0f;
}

#footer p,
#instruction {
  font-size: 18px;
}

#background-image {
  background-color: #0e0f0f !important;
  background-image: url(cinema.jpg);
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-touch-action: none;
      touch-action: none;
  z-index: -1;
}

.theme--dark.v-application {
  background: none !important;
}

.v-application p {
  margin: 0px 0px 3px 0px;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 20px 0px;
}

#box {
  width: 95vw;
  max-width: 95vw;
  background-color: rgba(1, 1, 1, 0.5);
  border-radius: 0.25rem;
}

.v-text-field,
.v-input input {
  max-width: 250px !important;
}

#inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boutons {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boutons button {
  margin: 20px 0px 20px 0px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  font-weight: bold;
}

.v-btn {
  color: #000000 !important;
}

#btnTop {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 5px 0px 5px;
}

#instruction {
  font-weight: bold;
}

#footer {
  padding: 20px 0px 20px 0px;
}

#footer a {
  color: #f6ca2c;
  font-weight: bold;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .v-text-field,
  .v-input input {
    margin: 0 auto;
  }
  #inputs,
  .boutons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boutons {
    margin: 0px;
  }
  #btnBottom,
  #actions {
    height: 100px;
  }
}
/*# sourceMappingURL=style.css.map */