$background-start: #6b0f1a;
$background-end: #b91372;
$noir-transparent: rgba(1, 1, 1, 0.3);
$card-hover: rgba(96, 79, 17, 0.4);
$vert: #0f6b60;
$vert-transparent: rgba(15, 107, 96, 0.9);
$blanc: #ffffff;
$noir: #0e0f0f;
$jaune: #f6ca2c;