<template>
  <v-app>
    <h1>IMDb match</h1>
    <div id="background-image" />
    <div id="container">
      <div id="box">
        <div id="search">
          <div id="inputs">
            <v-text-field
              v-model="media_1"
              @change="reset()"
              label="Media 1"
              color="#f6ca2c"
            />
            <v-text-field
              v-model="media_2"
              @change="reset()"
              label="Media 2"
              color="#f6ca2c"
            />
          </div>

          <div id="btnTop">
            <span id="instruction" v-show="!this.castTrouve">{{
              this.instruction
            }}</span>
            <div id="actions" class="boutons">
              <v-btn
                v-show="!this.rechercheLancee"
                color="#f6ca2c"
                @click="rechercher()"
                >Rechercher</v-btn
              >
              <v-btn
                v-show="this.pret && !this.castTrouve"
                color="#f6ca2c"
                @click="findCast(media_1_selected, media_2_selected)"
                >Trouver le cast commun</v-btn
              >

              <v-btn
                v-show="this.castTrouve || this.rechercheLancee"
                color="#f6ca2c"
                @click="reset()"
                >Réinitialiser
              </v-btn>
            </div>
          </div>
        </div>

        <div id="loading" v-show="this.loading">
          <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
        </div>

        <div
          id="premiereRecherche"
          v-show="this.listeMedias_1.length > 0 && !this.castTrouve"
        >
          <h2 id="titreResultats">Résultats</h2>
          <div id="liste-films">
            <div id="liste1">
              <div
                class="my-card"
                v-for="m in this.listeMedias_1"
                :key="m.name"
                :id="m.id"
                @click="clickHandler(m, 1)"
              >
                <div class="pic">
                  <img :src="m.image" :alt="m.name" />
                </div>

                <div class="name">
                  {{ m.name }}
                </div>
              </div>
            </div>

            <div id="liste2">
              <div
                class="my-card"
                v-for="m in this.listeMedias_2"
                :key="m.name"
                :id="m.id"
                @click="clickHandler(m, 2)"
              >
                <div class="pic">
                  <img :src="m.image" :alt="m.name" />
                </div>

                <div class="name">
                  {{ m.name }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="boutons"
          id="btnBottom"
          v-show="this.rechercheLancee && !this.castTrouve"
        >
          <v-btn
            v-show="this.pret && !this.castTrouve"
            color="#f6ca2c"
            @click="findCast(media_1_selected, media_2_selected)"
            >Trouver le cast commun</v-btn
          >
          <v-btn
            v-show="this.castTrouve || this.rechercheLancee"
            color="#f6ca2c"
            @click="reset()"
            >Réinitialiser
          </v-btn>
        </div>

        <div id="recherche" v-show="this.castTrouve">
          <span id="titreRecherche">{{ this.titreRecherche }}</span>
          <div id="resultats">
            <actor
              v-for="a in this.resultats"
              :key="a.name"
              :image="a.image"
              :name="a.name"
              :url="a.url"
            />
            <p id="aucunResultat" v-show="this.resultats.length === 0">
              {{ this.messageAucunResultat }}
            </p>
          </div>
        </div>
        <div id="footer">
          <p>
            Vous êtes déjà retrouvés dans la situation où un·e acteur·trice vous
            dit quelque chose mais vous n'arrivez pas à retrouver son nom ? Ce
            site est fait pour vous !<br />
            Il recoupe le cast des deux médias que vous entrez et renvoie les
            acteur·trice·s qu'ils ont en commun.
          </p>
          <br />

          <p>
            PS: La version gratuite de l'API
            <a
              href="https://www.imdb-api.com"
              title="IMDb API"
              onclick='window.open("https://www.imdb-api.com");return false;'
              >imdb-api.com</a
            >
            est limitée à 100 appels par jour donc si la recherche ne fonctionne
            pas, c'est peut-être parce que ce quota a été dépassé. Désolé !
          </p>
          <br />
          <p>
            Favicon faite par
            <a
              href="https://www.flaticon.com/authors/freepik"
              title="Freepik"
              onclick='window.open("https://www.flaticon.com/authors/freepik");return false;'
              >Freepik</a
            >
            de
            <a
              href="https://www.flaticon.com/"
              title="Flaticon"
              onclick='window.open("https://www.flaticon.com/");return false;'
              >flaticon.com</a
            >
          </p>
          <p>
            Photo par
            <a
              href="https://unsplash.com/@myke_simon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              title="Myke Simon"
              onclick='window.open("https://unsplash.com/@myke_simon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"); return false;'
              >Myke Simon</a
            >
            de
            <a
              href="https://unsplash.com/s/photos/cinema?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              title="Unsplash"
              onclick='window.open("https://unsplash.com/s/photos/cinema?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"); return false;'
              >Unsplash</a
            >
          </p>
        </div>
      </div>
    </div>
  </v-app>
</template>

<script>
import Actor from '~/components/Actor.vue';
export default {
  components: { actor: Actor },
  data() {
    return {
      apiKey: 'k_l1uiTFzX',
      francais: true,
      loading: false,
      listeMedias_1: [],
      listeMedias_2: [],
      media_1: null,
      media_2: null,
      media_1_selected: null,
      media_2_selected: null,
      messageAucunResultat: '',
      rechercheLancee: false,
      titreRecherche: '',
      requestOptions: {
        method: 'GET',
        redirect: 'follow'
      },
      resultats: []
    };
  },

  methods: {
    async getMediaList(searchQuery) {
      const language = this.francais ? 'fr' : 'en';
      const url = `https://imdb-api.com/${language}/API/Search/${this.apiKey}/${searchQuery}`;
      var mediaList = [];

      try {
        const response = await fetch(url, this.requestOptions);
        const j = await response.json();

        if (j.results === null && j.errorMessage) {
          alert(this.getErrorMessage(j.errorMessage));
          return [];
        }

        for (const element of j.results) {
          const description = element.description
            ? ` ${element.description}`
            : '';

          mediaList.push({
            id: element.id,
            image: this.getURLImage(element.image),
            name: element.title.concat(description)
          });
        }
      } catch {
        alert(`Erreur lors de la recherche du mediaID de '${searchQuery}'`);
      }

      return mediaList;
    },

    async getMediaID(searchQuery) {
      const url = String.concat(this.baseURL, searchQuery);

      var mediaID;

      try {
        const response = await fetch(url, this.requestOptions);
        const j = await response.json();

        if (j.results === null && j.errorMessage) {
          alert(this.getErrorMessage(j.errorMessage));
          return null;
        }

        mediaID = j.results[0].id;
      } catch {
        alert(`Erreur lors de la recherche du mediaID de '${searchQuery}'`);
        mediaID = null;
      }

      return mediaID;
    },

    async getCast(mediaID) {
      const url = `https://imdb-api.com/en/API/Title/${this.apiKey}/${mediaID}/FullActor`;
      var cast;
      const castList = [];

      try {
        const response = await fetch(url, this.requestOptions);
        const j = await response.json();

        if (j.results === null && j.errorMessage) {
          alert(this.getErrorMessage(j.errorMessage));
          return [];
        }

        cast = j.actorList;
      } catch {
        alert(`Erreur lors de la recherche du cast du mediaID '${mediaID}'`);
        cast = null;
      }

      //On ne garde que le nom, l'image et l'URL vers le profil
      for (const element of cast) {
        castList.push({
          name: element.name,
          image: this.getURLImage(element.image),
          id: element.id,
          url: this.getUrlActor(element.id)
        });
      }

      return castList;
    },

    findUniqueCast(cast_1, cast_2) {
      //On combine les deux casts et on les trie par ID croissant
      const sorted_cast = cast_1
        .concat(cast_2)
        .slice()
        .sort((a, b) => {
          if (a.id < b.id) {
            return -1;
          }

          if (a.id > b.id) {
            return 1;
          }

          return 0;
        });

      const duplicates = [];
      const limit = sorted_cast.length - 1;
      for (var i = 0; i < limit; i++) {
        if (sorted_cast[i].id === sorted_cast[i + 1].id) {
          duplicates.push(sorted_cast[i]);
          i++; //On saute de deux rangs si on trouve un doublon.
        }
      }

      return duplicates;
    },

    async rechercher() {
      this.loading = true;
      this.resultats = [];

      this.listeMedias_1 = await this.getMediaList(this.media_1);
      this.listeMedias_2 = await this.getMediaList(this.media_2);

      this.rechercheLancee = true;
      this.loading = false;
    },

    clickHandler(element, numeroListe) {
      if (numeroListe === 1) {
        this.media_1_selected = element;
        const previouslySelected = document.querySelector(
          '#liste1 > .my-card.selected'
        );

        if (previouslySelected) {
          previouslySelected.classList.remove('selected');
        }

        document.getElementById(element.id).classList.add('selected');
      } else {
        this.media_2_selected = element;
        const previouslySelected = document.querySelector(
          '#liste2 > .my-card.selected'
        );

        if (previouslySelected) {
          previouslySelected.classList.remove('selected');
        }

        document.getElementById(element.id).classList.add('selected');
      }
    },

    async findCast(media_1, media_2) {
      this.loading = true;
      const cast_1 = await this.getCast(media_1.id);
      const cast_2 = await this.getCast(media_2.id);
      this.titreRecherche = `Cast commun entre ${media_1.name} et ${media_2.name}`;
      this.resultats = this.findUniqueCast(cast_1, cast_2);
      this.castTrouve = true;

      if (this.resultats.length === 0) {
        this.messageAucunResultat = `Aucun cast commun entre ${media_1.name} et ${media_2.name}`;
      }

      this.loading = false;
    },

    reset() {
      this.castTrouve = false;
      this.listeMedias_1 = [];
      this.listeMedias_2 = [];
      this.media_1_selected = null;
      this.media_2_selected = null;
      this.rechercheLancee = false;
      this.titreRecherche = '';
      this.messageAucunResultat = '';
      this.resultats = [];
    },
    getUrlActor(actorID) {
      return `https://www.imdb.com/name/${actorID}/`;
    },

    getURLImage(url) {
      return url.replace('original', '128x176');
    },

    //Transforme le "Maximum usage (111 of 100 per day)" en un message bien formé
    getErrorMessage(error) {
      var errorMessage;
      const regex = /Maximum usage [(]\d* of \d* per day[)]/gm;

      if (regex.test(error)) {
        const numbers = Number(error.match(/\d+/));
        const currentRate = numbers[0];
        const limit = numbers[1];
        errorMessage = `Erreur: limite de l'API atteinte (${currentRate}/${limit}). Revenez demain !`;
      } else {
        errorMessage = error;
      }

      return errorMessage;
    }
  },

  computed: {
    pret() {
      return (
        this.rechercheLancee && this.media_1_selected && this.media_2_selected
      );
    },

    compteurInstruction() {
      //Etape 1 si une des deux inputs est vide ou que la recherche n'a pas été lancée
      if (!this.rechercheLancee || !(this.media_1 && this.media_2)) {
        return 1;
      }

      //Étape 3 si les deux médias sont sélectionnés, 2 sinon
      return this.media_1_selected && this.media_2_selected ? 3 : 2;
    },

    instruction() {
      var ins = `Étape ${this.compteurInstruction}/3 - `;
      switch (this.compteurInstruction) {
        case 1:
          ins += 'Entrer le nom des deux médias puis lancer la recherche';
          break;

        case 2:
          ins +=
            'Sélectionnez les deux médias dont vous voulez recouper le cast';
          break;

        case 3:
          ins += 'Lancez la recherche du cast en commun';
          break;

        default:
          break;
      }

      return ins;
    }
  }
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import url('assets/css/loading.css');
@import url('assets/css/style.css');
@import url('assets/css/resultats.css');
@import url('assets/css/my-card.css');
</style>
